.horizontal_text_layout {
    text-align: center;
    /* font-size: clamp(1.25rem, 0.85rem + 2vw, 2.5rem); */
    font-size: 44px;
    letter-spacing: 2px;
    font-weight: 500;
  }

.robotoFont{
    text-align: left;
    font-size: 14px;
}

.shoeBtn{

    border: 1px solid lightgray;
    border-radius: 0px;
    border-bottom: 1px solid #fff;
    color: rgb(161, 0, 0) !important;
    font-weight: 500;
}
