
// colors

$color-dim-bg: #f3f3f3;
$color-light-bg: white;
$color-transparent-bg: transparent;
$color-dark-border: #5250507e;

$color-light: #a2a5b9;
$color-dark: #1d2129;
$color-dark-light: #1f242c;

$color-gray: #646464;
$color-yellow: #F8EA8C;
$color-yellow-dark: #E1C340;

$color-orange: rgb(255, 145, 0);
$color-lemon: #A4E8E0;
$color-lemon-dark: #4CD7D0;


// font
$font-base-size: 14px;
$font-small-size: 18px;
$poppins: 'Poppins', sans-serif;
$bolder: 700;
$bold: 600;
$semi-bold: 500;
$thin: 300;

// height & width
$height_full: 100%;
$width_full: 100%;
$height-base-size: 50px;
$margin-base-size: 8px;

