.navDesign {
 display: flex;
 justify-content: space-between;
 font-size: 14px;
  .image{
    width: 50px;
  }

  ul{
  
  list-style: none;
  display: flex;

  li {
     
     font-weight: 400;
    
     .navlink{
      text-decoration: none;
      color: $color-dark;
      padding: 0 15px 0 15px;
      font-weight: 500;

     }

     &::after{
     content: "";
     width:0;
     height: 3px;
     background-color: rgb(235, 61, 30);
     margin: auto;
     margin-left: 15px;
     display: block;
     transition: width 0.5s;
     }

     &:hover::after{
     width: 30%;
     }
    
    }
  }

 .cart_icon{
    font-size: 20px;
  }
}



.navBox{
    background-color: $color-yellow;
    width: fit-content;
    height: 100vh;
    padding-top: 10px;
    position: absolute;
    z-index: 9999;

    .imag {
      margin-left: 50px;
      width: 50px;
    }

    .uidesign{
      padding-left: 0;
      list-style: none;


      .md-navlink{
          text-decoration: none;
          margin-top: 10px;
          display: block;
          color: $color-dark;
          padding: 5px 41px;

          &:hover{
            @include theme(background, $color-gray, dark)
          }

        }
    }
}



.menu-btn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    cursor: pointer;
    transition: all .5s ease-in-out;

    .menu-btn_burger{
         width: 25px;
         height: 3px;
         background: $color-dark-light;
         border-radius: 15px;
         transition: all .5s ease-in-out;

         &::before,
         &::after{
               content: '';
               position: absolute;
               width: 25px;
               height: 3px;
               background: $color-dark-light;
               border-radius: 15px;
               transition: all .5s ease-in-out;
               }

         &::before{
               transform: translateY(-7px);
               }

         &::after{
               transform:translateY(7px);
               }

         }

      &.open .menu-btn_burger{
          transform: translateX(-50px);
          background: transparent;
          box-shadow: none;
        }

      &.open .menu-btn_burger::before{
          transform: rotate(45deg) translate(35px, -35px);
        }

      &.open .menu-btn_burger::after{
          transform: rotate(-45deg) translate(35px, 35px);
        }
}




