.topBar{
     @include theme(background, $color-yellow, light);
     @include theme(color, $color-gray, null);
     height: 35px;
     font-weight: 500;
     
}

.topHeaderBox{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     font-size: 12px;

}

.imag{
     width: 40px;
}