@import "partials/variables";
@import "partials/mixins";
@import "partials/classes";
@import "sections/Header/topHeader";
@import "sections/Header/navHeader";
@import "sections/Header/searchHeader";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Shadows+Into+Light&display=swap');

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0;
}

body {
  @include theme(background, $color-light-bg, light);
  @include theme(color, $color-dark, null);
  font-family: $poppins;
  font-size: $font-base-size;
  overflow-x: hidden;
}



