.stPart{
    flex-grow:4;
    background-color: blue;
    height: 100px;
}
.ndPart{
    flex-grow: 2;
    background-color: blueviolet;
    height: 100px;
}

@media (max-width:700px) {
    .stPart{
   flex: 0 0 100%;
    background-color: blue;
    height: 100px;
}
.ndPart{
    flex: 0 0 100%;
    background-color: blueviolet;
    height: 100px;
}

    
}